.search {
  display: flex;
  flex-direction: column;
}

.search h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.form input {
  padding: 0.5rem 1.5rem;
  font-size: 1.8rem;
}

.form button {
  font-size: 1.8rem;
  font-weight: light;
}
