.navbar{
   text-align: center;
}

.filters{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-left: 32px;
}
.filters > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}